#formation_table tbody tr.active td 
{
	color: #fff;
	background-color: #3F8FD2;
}

#formation_table tbody tr:hover td
{
		background-color: #C8CDDB;
}

#task_list td
{
	font-size: 14px;
}

#task_list th
{
	font-size: 14px;
}

.CodeMirror {
	height: 75%;
}